@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: white;
}

button {
    width: 100%;
}
.board {
    position: relative;
    padding: 2px;
    border: 1px solid green;
    display: grid;
    color: black;
    font-size: 30px;
    width: 40vw;
    height: 40vw;
}
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    font-size: inherit;

}

.interface {
    width: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.interface-size-select {
    display: flex;
    justify-content: space-between;
}
.interface-size-select > button {
    width: 50px;
    cursor: pointer;
}

#score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
#shuffleBtn {
    width: 100%;
}
.winMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 700px) {
.board {
    font-size: 10px;
}    
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
.board {
    font-size: 20px;
}    
}


.down {
    animation: down 0.3s forwards ease-in ;
}
@keyframes down {
    from {
        transform: translateY(0);
    }
  
    to {
        transform: translateY(+10vw);

    }
  }
.up {
    animation: up 0.3s forwards ease-in ;
}
@keyframes up {
    from {
        transform: translateY(0);
    }
  
    to {
        transform: translateY(-10vw);

    }
  }
.left {
    animation: left 0.3s forwards  ease-in ;
}
@keyframes left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-10vw);

    }
  }
.right {
    animation: right 0.3s forwards ease-in ;
}
@keyframes right {
    from {
        transform: translateX(0);
    }
  
    to {
        transform: translateX(+10vw);

    }
  }



